*{font-family: roboto;margin: 0px;padding: 0px;}


/* nabr css */

.nav-cart-container{position: relative;}
.nav-cart-p{position: absolute;top: -20px;right: 20px;color: white;background-color: black;
padding:0px 8px;border-radius: 20px;
}
@media screen and (width<600px) {
  
  .nav-left-container{margin-top: 30px;}
}



/* nabr css */

/* product card */

.product-card-img{width: 100px;flex-grow: 1;}
.product-name{width: 200px;}
.product-card{display: flex;align-content: center;flex-direction: column;justify-content: center;align-items: center;width: 300px;}
.all-products-container{margin-top: 100px;}
/*product card  */